body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 20px; /* Размер основного шрифта в <p></p>  */
    background-color: #4648eb41; /* Цвет фона веб-страницы */
    color: #05881b; /* Цвет основного текста */ 
}
h1 {
    color: #090ddf; /* Цвет заголовка */
    font-size: 40px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}